body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

    h2 {
        margin: 3rem;
    }
}

header {
    .header_top {
        background-image: url("../img/wave_header.svg");
        background-size: cover;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding: 2rem;

        img {
            height: 200px;
            width: 200px;
        }
    }

    .header_bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            font-family: 'Mooli', sans-serif;
        }

        h1,
        p {
            margin: 5px;
        }

        .header_socialNetworks {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 1rem;
            gap: 1rem;

            .header_socialNetworks_bubbles {
                background-color: #003b6f;
                color: #ffffff;
                font-size: 2rem;
                height: 60px;
                width: 60px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;

    .introduction {
        border-radius: 5px;
        background-color: #003b6f;
        color: #ffffff;
        padding: 0.2rem 1.5rem;
        width: 80%;

        .introduction_list {
            li {
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;

                &:not(:last-child) {
                    border-bottom: 1px dashed #ffffff;
                }
            }
        }
    }

    section {
        width: 80%;

        h2 {
            text-align: center;
        }

        .skills_cardsContainer {
            .skills_card {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-bottom: 10px;
                .skillsType {
                    border: 1px solid #003b6f;
                    background-color: #003b6f;
                    border-top-right-radius: 5px;
                    border-top-left-radius: 5px;
                    color: #ffffff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0.5rem;
                    width: 100%;
                }

                .skills_cardContent {
                    border: 1px solid #003b6f;
                    border-bottom-right-radius: 5px;
                    border-bottom-left-radius: 5px;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 1rem;
                    justify-content: center;
                    padding: 0.5rem;
                    width: 100%;

                    img {
                        display: flex;
                        align-self: center;
                        justify-self: center;
                        width: 75px;
                    }
                }
            }
        }

        &.timeline {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        
            .timeline_container {
              display: flex;
                .timeline_bar {
                    background-color: black;
                    position: relative;
                    left: 0px;
                    width: 10px;
                }
              .timeline_content {
                position: relative;
                left: -20px;
              
                .timeline_bubbles {
                    background-color: #003b6f;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    color: #ffffff;
                    justify-content: center;
                    height: 40px;
                  margin-bottom: 15px;
                    width: 40px;
                }

                .timeline_job {
                    background-color: #ffffff;
                    border: 1px solid #003b6f;
                    border-radius: 5px;
                    position: relative;
                    padding: 0.5rem;
                    width: 90%;
                    margin-bottom: 20px;

                    .timeline_job_date {
                        background-color: lightgray;
                        border-radius: 5px;
                        margin: 0;
                        padding: 0.3rem;
                        width: fit-content;
                    }

                    .timeline_job_title {
                        font-weight: bold;
                    }
                }

                .left {
                    left: 30px;
                }

                .right {
                    left: 30px;
                }
                }
            }
        }

        .project_card {
            border-radius: 5px;
            border: 1px solid #003b6f;
            margin-bottom: 0.5rem;
            .project_card_image {
                height: 200px;
                width: 100%;
            }
            .project_card_body {
                padding: 1rem;
                .project_card_title {
                    font-weight: bold;
                }
            }
            .project_card_footer {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 1rem;
                .project_card_cta {
                    background-color: #003b6f;
                    border-radius: 5px;
                    color: #ffffff;
                    padding: 0.5rem 1rem;
                    text-decoration: none;
                    transition: all 0.3s ease-in-out;
                    &:hover {
                        background-color: #ffffff;
                        border: 1px solid #003b6f;
                        color: #003b6f;
                    }
                }      
            }
        }
    }
}