$dark: #16262E;
$light: #F5F2F8;
$primary: #AF97C3;
$secondary: #F0DBF3;
$highlight: #FFADCA;

body {
    color: $dark;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;

    h2 {
        margin: 3rem;
    }
}

header {
    background-color: $secondary;
    padding-bottom: 1rem;

    .header_top {
        background-size: cover;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding: 2rem;

        img {
            height: 200px;
            width: 200px;
        }
    }

    .header_bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            font-family: 'Mooli', sans-serif;
        }

        h1,
        p {
            margin: 5px;
        }

        .header_socialNetworks {
            display: grid;
            grid-template-columns: repeat(5,1fr);
            @media screen  and (max-width: 445px) {
                grid-template-columns: repeat(3,1fr);
            }
            margin-top: 1rem;
            gap: 1rem;
            
            a {
                text-decoration: none;
            }

            .header_socialNetworks_bubbles {
                background-color: $primary;
                color: white;
                font-size: 2rem;
                height: 60px;
                width: 60px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    .introduction {
        border-radius: 5px;
        background-color: $primary;
        color: white;
        margin-top: 1rem;
        padding: 0.2rem 1.5rem;
        width: 40%;
        @media screen  and (max-width: 550px){
            width: 80%;            
        }

        .introduction_list {
            li {
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;

                &:not(:last-child) {
                    border-bottom: 1px dashed white;
                }
            }
        }
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;



    section {
        padding: 2.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            text-align: center;
        }
    }
}



h2 {
    padding: 0.5rem 1rem;
    color: white;
    border-radius: 0.8em 0.3em;
    background: transparent;
background-color: $highlight;
    box-decoration-break: clone;

}

footer {
    background-color: $dark;
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    a {
        color: white;
    }
}

@import "_profiles";
@import "_skills";
@import "_projects";
@import "_timeline";