@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Shrikhand&display=swap');

$pacifico: 'Pacifico', cursive;
$shrikhand: 'Shrikhand', serif;

$color-a: #EFE5D7;
$color-b: #F2F2F2;
$color-c: #F4AEC0;
$color-d: #8BCFCD;
$color-f: #F5C75C;
$color-g: #E2B8E4;
$color-h: #F1A26B;
$color-i: #F484AC;